.top-bar {
  height: 60px;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &>h1 {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 600;
  }
}

.content {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: var(--bg-color);
  padding-top: 2rem;
}



.dropzone {
  max-width: 450px;
  height: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: dashed 2px #979797;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  label {
    z-index: 9999;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white-color);
  }
}

.btn {
  color: var(--orange-color);
  padding: .5rem 1.2rem;
  margin: 0 8px;
  border: 2px solid var(--orange-color);
  background: none;
  transition: background .3s linear;
  font-weight: 500;
  font-size: 1.1rem;
  &:hover {
    background-color: #f1f1f123;
  }

  &:active {
    background-color: #f1f1f149;
  }
}

image-cropper {
  max-height: 80vh;
  max-width: 80vw;
  margin: 0 auto;
  --cropper-overlay-color: rgba(255, 255, 255, 0);
}

@media(max-width:576px) {

  image-cropper {
    max-height: 95vh;
    max-width: 95vw;

  }

  .btn {
    color: var(--orange-color);
    padding: .3rem .7rem;
    margin: 0 3px;
  }


}
